<%= form_tag order_coupon_codes_path(@order), method: :post, class: "coupon-code" do %>
  <div class="input-group mt-6 md:mt-0">
    <%= text_field_tag 'coupon_code',
      nil,
      id: 'order_coupon_code',
      placeholder: t("spree.coupon_code"),
      required: true,
      class: 'input max-w-[10rem] md:max-w-[15rem]'
    %>

  <%= button_tag(
    t('spree.apply_code'),
    class: 'btn btn-secondary btn-small',
    name: :commit
  ) %>
  </div>
<% end %>
