<% order = order_form.object %>

<footer class="flex justify-end">
  <div class="flex flex-col">
    <p class="mb-4 text-2xl">
      <%= t('spree.total') %>: <strong><%= order.display_total %></strong>
    </p>

    <%= order_form.button(
      I18n.t('spree.checkout'),
      class: 'button-primary',
      id: 'checkout-link',
      name: :checkout,
      class: "btn btn-primary btn-small"
    ) %>
  </div>
</footer>
