<% unless product_properties.empty? %>
  <div class="mt-6">
    <h2 class="text-lg font-semibold">
      <%= t('spree.properties')%>
    </h2>

    <table class="mt-2 table">
      <tbody class="">
        <% product_properties.each do |product_property| %>
          <tr class="">
            <td class=""><%= product_property.property.presentation %></td>
            <td class=""><%= product_property.value %></td>
          </tr>
        <% end %>

        <% reset_cycle('properties') %>
      </tbody>
    </table>
  </div>
<% end %>
