<div class="flex justify-between items-center p-4 border-b-[0.01rem] border-gray-600">
  <div class="text-3xl select-none font-logo">
    Marius Armory
  </div>

  <div>

    <% if spree_current_user %>
      <%= link_to I18n.t('spree.my_account'), account_path, class: '' %>
    <% else %>
      <%= link_to I18n.t('spree.login'), login_path, class: '' %>
    <% end %>

    <%= link_to t('spree.cart'), edit_cart_path, class: 'ml-4' %>

  </div>

  <script>
    Solidus.fetch_cart('<%= j cart_link_path %>')
  </script>
</div>
